.footer {
  background-color: #2f303a;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;

  padding-left: 0;
  padding-right: 0;
}

.webstudio-link {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 20px;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-footer {
  display: flex;
}

.footer-address {
  font-style: normal;
}
.link-address {
  color: #ffffff;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-mail,
.link-phone {
  color: rgba(255, 255, 255, 0.6);
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .link-address:hover {
  color: #2196f3;
}
.link-mail:hover {
  color: #2196f3;
}
.link-phone:hover {
  color: #2196f3;
}

.address-list {
  padding-left: 0;
}

.address-list li {
  margin-bottom: 9px;
}
.address-list li:last-child {
  margin-bottom: 0px;
}

.social-title-f {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
}

.foot-div {
  margin-right: 70px;
}

.icon-social-f {
  display: flex;
}
.social-link-f {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-f:hover,
.social-link-f:focus {
  background-color: #2196f3;
}
.item-f:not(:last-child) {
  margin-right: 10px;
}
